body {
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.main-container {
  display: flex;
  height: 800px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  background: rgb(1, 26, 49);
  background: linear-gradient(
    170deg,
    rgba(1, 26, 49, 1) 0%,
    rgba(18, 174, 254, 1) 3%,
    rgba(16, 105, 243, 1) 100%
  );
}
header {
  height: 100px;
}
.user {
  display: flex;
  gap: 20px;
}
label {
  font-size: 20px;
}
.weatherinfo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  font-size: 20px;
}
button {
  background-color: #d4fafc;
  border-radius: 20px;
  border-width: 0;
  box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
  color: #212a3e;
  display: inline-block;
  font-size: 15px;
  height: 30px;
  padding: 0 25px;
  transition: all 200ms;
}
